<div class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 style="color:green">Forgot Password Confirmation</h3>
        <hr />
        <p class="font-bold"> Before you can Login, please reset your password, by clicking on the reset password link we have emailed you on your email registered id.</p>
        <hr />
        <a asp-action="Login" asp-controller="Account" asp-area="Comman">Click here to navigate to the login page</a>
    </div>
</div>